/like-and-subscribe/assets/photoshop/
/barcards/assets/images/Full-Deck-Of-Ornate-Playing-Cards.svg
/barcards/assets/fonts/8-bit-pusab.ttf
/barcards/assets/sounds/piano-groove.mod
/barcards/assets/images/1200w/Artboard 1_1200.png
/candygrab-part1/assets/originals/ladder-structure.webp
/candygrab-part1/assets/originals/Sprite_Sheet_Full.psd
/candygrab-part2/assets/originals/**
/candygrab-part2/**.bak
